body{
    font-family: 'Varela Round', sans-serif; 
}

.navbar-fixed nav a.brand-logo{
    margin-left: 30px;
}
table td,th{
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 110px;
}
tbody span.updated{
    font-size: 0.8rem;    
    color: black;
}
table tbody i{
    size:10px;
}
table tbody a{
    color: black;
}
h4 span.updated{
    font-size: 1.2rem;
}
.card{
    align-items: flex-end;
    max-width: 600px;
    box-shadow: 5px;
}
.wrapper{
    display: flex;
}
.wrapper .side_bar{
    width: 200px;
    height: 100%;
    position: fixed;
    margin-right: 50px;
}
div .main_content{
    display:block;
    margin-left: 250px;
    margin-top: 80px;
    width: 100%;
    margin-bottom: 50px;
}
.side_bar ul{
    margin-top: 80px;
}
.side_bar ul li{
    padding: 15px ;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    
}
.side_bar ul li:hover{
    background-color: #ffc107;
}
.side_bar ul li a{
    color: white;
}
div.social{
    justify-content: center;
    margin-top: 300px;
}
.social a{
    color: white;
    padding: 10px;
    margin: 3px;
    background-color: #ffc107;
    border-radius: 5px;
    justify-content: center;
}
div.tips{
    margin-right: 70px;
}
div.tips ul:not(default-browser)>li{
    list-style-type: circle !important;
    list-style-position: outside;   
}
div.tips li{
    padding: 10px;    
}
